{% extends "main/header.html" %}

{% block content %}
<div class="container" style="width: 80%;">
    <br>
    <h1 class="story-title">{{ category }}</h1>
    <hr>
    {% for story in stories %}
    <a href="/story/{{ story.story_id }}">
    <div class="container story-blurb-container">
            {% if story.story_image %}
                <img class="blurb-img" style="float:left;" src="{{ story.story_image.url }}">
            {% endif %}
            <div class="container" style="display:inline-block; width: 60%;">
                <h5 class="story-category">{{ story.category }}</h5>
                <h4 class="story-title">{{ story.title }}</h3>
                <h7 class="story-date">{{ story.date }} • {{ story.author.first_name }} {{ story.author.last_name }}</h7>
            </div>     
    </div>
    </a>
    {% endfor %}
</div>

{% endblock %}